name: Release Docker Image

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract version from tag
        id: vars
        run: |
          VERSION="${GITHUB_REF#refs/tags/}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build & Push Docker image
        run: |
          for image_id in dovecot postfix; do
            IMAGE=ghcr.io/${{ secrets.GHCR_USER }}/${image_id}
            docker build -t $IMAGE:${{ steps.vars.outputs.version }} -t $IMAGE:latest .
            docker push $IMAGE:${{ steps.vars.outputs.version }}
            docker push $IMAGE:latest
          done
